[user]
    name = Will Taylor
    email = william.h.taylor@stfc.ac.uk
[core]
    editor = vim
    excludesFile = ~/.gitignore
    commentChar = ";"
    autocrlf = true
[alias]
    ca = commit -a -m
    slog = log --oneline -15
    bd = branch -d
    cp = cherry-pick
[branch]
    sort = -committerdate
[tag]
    sort = version:refname
[diff]
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true
[merge]
    conflictstyle = zdiff3
[credential "https://git.developers.facilities.rl.ac.uk"]
    provider = generic
