[user]
	name = Will Taylor
	email = william.h.taylor@stfc.ac.uk
[core]
    editor = vim
    excludesFile = ~/.gitignore
    commentChar = ";"
[alias]
    ca = commit -a -m
    slog = log --oneline -15
    bd = branch -d
